body {
    font-family: 'Roboto', sans-serif;
    color: var(--gray-text-color);
    margin: 0;
    padding: 0;
  }
  .marker-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .img-item {
    display: block;
  }
  .container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }